sphinx
sphinx-rtd-theme
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-gallery
sphinx-hoverxref
sphinx-toggleprompt
nbsphinx
nbsphinx-link
ipython
pandoc==2.3
matplotlib
myst-parser
esbonio>=0.12.0

sunpy[all]
astropy
scipy
numba
tqdm
ndcube
lxml
zeep
drms
memory-profiler
