sphinx
sphinx-rtd-theme
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-gallery
sphinx-hoverxref
sphinx-toggleprompt
sphinx-copybutton
sphinx-design
nbsphinx
nbconvert
nbsphinx-link
ipython
ipywidgets
pandoc==2.3
matplotlib
myst-parser
esbonio>=0.12.0

sunpy[all]
astropy
scipy
numba
tqdm
ndcube
lxml
zeep
drms
memory-profiler

sphinx-automodapi
sphinx-gallery
sphinx-hoverxref
sphinx-toggleprompt
sphinx-copybutton
sphinx-design
nbsphinx
nbconvert
nbsphinx-link
ipython
ipywidgets
pandoc==2.3
matplotlib
myst-parser
esbonio>=0.12.0

sunpy[all]
astropy
scipy
tqdm
ndcube
lxml
zeep
drms
memory-profiler
xrtpy